<div class="containerGlobal"> 
    <div class="background"></div>
    <div class="containerItems">
        <div class="containerLogo">
            <img src="#" alt="LOGO" class="logoAWS">
        </div>
        <div class="containerLogin">
            <div class="loginTitle"> SIGN IN </div>
            <br>
            <div class="containerText">
                <span class = "Username"> USERNAME </span>
                <input type="text" id = "Username" name="username">
                <br>
                <span class="Username"> PASSWORD </span>
                <input type="password" id = "Password" name="password">
                <button class="btn"> LOG IN </button>
            </div>
        </div>
    </div>
</div>